.App {
  text-align: center;
}

.Form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #61dafb;
}

.Form > * {
  margin: 1vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
.Login {
  padding: 5vh
}